@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ff758f; */
  font-family: 'Pacifico', cursive;
}

.main-text {
    text-align: center;
    color: #800f2f;
    font-size:30px;
}

.secondary-text {
    text-align: center;
    font-size: 20px;
}

.text-red {
    color: red;
}

.text-gray {
    color: gray;
}

.p {
    text-align: center;
}

.button-primary {
    background: #800f2f;
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 12px 32px;
    cursor: pointer;
    font-size: 16px;
}

.gif {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.step-1,
.step-2 {
    text-align: center;
}

.hidden {
    display: none;
}

.mt-3 {
    margin-top: 32px;
}